{% extends "base.html" %}

{% block title %}Add Availability{% endblock %}

{% block content %}

<h2>Add Availability</h2>

<form method="POST">
    {% csrf_token %}

    <label>Date</label>
    <input type="date" name="date" required>

    <label>Start Time</label>
    <input type="time" name="start_time" step="1800" required>

    <label>End Time</label>
    <input type="time" name="end_time" step="1800" required>

    <button type="submit" class="btn btn-primary mt-3">Save</button>
</form>

{% endblock %}
